nav>ul{
    display:flex; 
    
}

nav li{
    list-style: none;
    margin:20px;
    padding:4px;
}
nav li a{
    text-decoration: none;
}

nav li:hover{
    background-color: rgb(135, 222, 161);
    
}

nav li .dropdown{
    display: none;
    padding-left: 2px;
    position: absolute;
    background-color: tomato;
}
nav li:hover >.dropdown{
    display: block;
}